# Quarto files
/.quarto/
_site

# python notebooks
*.ipynb

# R files
.Rhistory
.Rapp.history
.RData
.RDataTmp
.Ruserdata
.Rproj.user/
*_cache/
/cache/
*.utf8.md
*.knit.md
.Renviron

# Jupyter cache
.jupyter_cache
/.luarc.json

**/*.quarto_ipynb

*~
materials/Practical_5_Bioinformatics/output/Ccan_ERV_1_ORF_4.pdf